<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Add Friends</title>
    <link rel="stylesheet" href="/add_friends.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	  <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
              <% for(var i = 0; i < data.add_friend.length; i ++) { %>
                <div class="nearby-user">
                  <div class="row">
                    
                    <div class="col-md-7 col-sm-7">
                      <h5><a href="#" class="profile-link"><%= data.add_friend[i] %></a></h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <form action = '/add_friends' method = "POST" name="send" id="send">
                        <input type="hidden" id= "reqTo" name="reqTo" value="<%= data.add_friend[i] %>"/>
                        <input type="hidden" id= "reqBy" name="reqBy" value="<%= data.user.username %>"/>
                        <input type="submit" value="Add Friend" class = "btn btn-primary pull-right"/>
                      </form>
                    </div>
                    
                  </div>
                </div>
              <% } %>     
            </div>
    	</div>
	</div>
</div>



<!-- <script src="/socket.io/socket.io.js"></script>
<script src="/add_friends.js"></script> -->
</body>
</html>