<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="edit-profile">
                <form action="/edit_profile" method="POST" class="sign-up-form">
                    <h1 class="icon">Zapper</h1>
                    <h2 class = "title">Edit Profile</h2>
                     <div class="input-field">
                         <i class="fas fa-user">
 
                         </i>
                         <input type="text" name="username" placeholder="Username" />
                     </div>
                     <div class="input-field">
                         <i class="fas fa-envelope">
 
                         </i>
                         <input type="email" name ="email" placeholder="l33t@protonmail.com" />
                     </div>
                     <input type="Submit" class="btn solid" value="Apply Changes">
                 </form>
            </div>
        </div>
    </div>

</body>
</html>