<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <% if(messages) { %>
                    <p><%= messages.error %> </p>
                <% } %>
                <form action="/" class="sign-in-form" method="POST">
                    <h1 class="icon">Zapper</h1>
                    <h2 class = "title">Sign In</h2>
                    <div class="input-field">
                        <i class="fas fa-user">
 
                        </i>
                        <input type="text" name="username" placeholder="Username"/>
                     </div>
                     <div class="input-field">
                         <i class="fas fa-lock">
 
                         </i>
                         <input type="password" name="password" placeholder="*********" />
                     </div>
                     <input type="submit" class="btn solid" value="Login"/>
                 </form>
                <a href="/register">Create an Account.</a>
            </div>
        </div>
    </div>

</body>
</html>