<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main">
        <h1 id = "icon">ZAPPER</h1>
        <h2>SIGNUP FOR AN ACCOUNT</h2>
        <form action = '/register' method="POST">
            Email:<input type ="email" name = "email" placeholder = "JaneDoe@gmail.com"/>
            Username:<input type ="text" name = "username" placeholder = "sniperZxx"/>
            Password:<input type = "password" name = "password" placeholder="******"/>
            <button>Register</button>
        </form>
        <a href="/">Log In To Your Account!</a>
    </div>

</body>
</html>